fastapi
uvicorn[standard]
google-generativeai
google-genai
replicate
requests
moviepy
python-dotenv
httpx
databricks-sdk
databricks-sql-connector
mlflow
pydantic
pillow
numpy
datasets
elevenlabs
pydub
ffmpeg